<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header text-capitalize text-center">
              {{ transactionDetails?.transactionName }}
            </div>

            <div class="card-body">
              <div
                *ngFor="let member of transactionDetails?.membersOfTransaction"
              >
                <div
                  *ngIf="
                    transactionDetails?.initiatedBy.userEmailId ==
                      loggedInUser?.userEmailId &&
                    member?.userEmailId != loggedInUser?.userEmailId
                  "
                >
                  <div *ngIf="member?.paid">
                    <span class="text-capitalize"
                      >{{ member.memberName }}
                    </span>
                    already Paid
                    <hr />
                  </div>

                  <div *ngIf="!member?.paid">
                    <span class="text-capitalize">
                      {{ member?.memberName }}</span
                    >
                    :
                    {{
                      transactionDetails?.amount /
                        transactionDetails?.membersOfTransaction.length
                        | currency: "INR":"symbol"
                    }}
                    <button
                      class="btn btn-success"
                      (click)="updateTransaction(member?.userEmailId)"
                    >
                      Mark as paid
                    </button>
                    <hr />
                  </div>
                </div>

                <div
                  *ngIf="
                    transactionDetails?.initiatedBy.userEmailId !=
                      loggedInUser?.userEmailId &&
                    member?.userEmailId == loggedInUser?.userEmailId
                  "
                >
                  <div *ngIf="member?.paid">
                    You have Paid
                    {{
                      transactionDetails?.amount /
                        transactionDetails?.membersOfTransaction.length
                        | currency: "INR":"symbol"
                    }}
                    to {{ transactionDetails?.initiatedBy.memberName }}
                  </div>
                  <div *ngIf="!member?.paid">
                    You have to pay
                    {{
                      transactionDetails?.amount /
                        transactionDetails?.membersOfTransaction.length
                        | currency: "INR":"symbol"
                    }}
                    to {{ transactionDetails?.initiatedBy.memberName }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="commentInput" />
      <button (click)="createComment()">Send</button>

      <div *ngFor="let comment of allComments">
        {{ comment?.comment }} <br />
        By: {{ comment?.commentedBy.memberName }} Created On :{{
          comment.createdDate | date: "medium"
        }}
      </div>
    </div>
  </div>
</div>
